body {
       background-image: url("https://www.desktopbackground.org/p/2015/03/11/915592_one-piece-backgrounds-wallpapers-10375-hd-wallpapers-site_1920x1080_h.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2800px;
    background-attachment: fixed;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:"Comic Sans MS", cursive, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #f26d6d;
}
a:hover {
    text-decoration: underline;
    color: #ffe6e6;
}

h1 {
    font-size: 3em;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #f90000;
}
footer {
    border-top: 1px solid #d0ea9f;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
